<div class="row">
	<div class="contact-page">
		<div class="container">
  		<div class="col-md-12">
				<% provide(:title, 'Contact') %>
        <h2>Contact</h2>
        <a href="mailto:huangkc05@gmail.com">
        <p>Email</p></a>
        
        <a href="#"><p>+1 917.518.6181</p></a>
        
        <a href="linkedin.com/in/huankc"><p>LinkedIn</p></a>
        <a href="https://twitter.com/huangkc05"><p>Twitter</p></a>
        <p><a href="https://huangkc.github.io">Github</a></p>
        
       </div>
    </div>
	</div>
</div>