<footer>
	<small>copyright 2017</small>
	<ul>
		
		<li><a href="mailto:huangkc05@gmail.com">Email</a></li>
    <li><a href="linkedin.com/in/huankc">LinkedIn</a></li>
		<li><a href="https://twitter.com/huangkc05">Twitter</a></li>
		<li><a href="https://huangkc.github.io">Github</a></li>
  </ul>
</footer>