<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
    <p>copyright 2016</p>
      <!-- <li><%= link_to "About", about_path %></li> -->
<!--       <li><%= link_to "Contact", contact_path %></li> -->
    </ul>
  </nav>
</footer>